In [1]:
#Unique Words in a Sentence
sentence=input("Enter Sentence : ")
words=sentence.split()
unique_words=set(words)
print("Unique words counts:",len(unique_words))
print("Unique words:",unique_words)

Enter Sentence : Python is easy and python is powerful
Unique words counts: 6
Unique words: {'and', 'easy', 'is', 'python', 'Python', 'powerful'}

In [2]:
#Highest Salary From Employee Data
employees={}
n=int(input("Enter number of employees"))
for i in range(n):
  name=input("Enter employee name: ")
  salary=float(input("Enter salay: "))
  employees[name]=salary
highest_paid=max(employees,key=employees.get)
print("Highest Salary:",highest_paid,"-",employees[highest_paid])

Enter number of employees3
Enter employee name: Ravi
Enter salay: 75000
Enter employee name: Anita
Enter salay: 68000
Enter employee name: Kiran
Enter salay: 72000
Highest Salary: Ravi - 75000.0

In [4]:
#Find Maximum and Minimum Values
n=int(input("Enter number of elements: "))
numbers=[]
for i in range(n):
  num=int(input("Enter number: "))
  numbers.append(num)
maximum=numbers[0]
minimum=numbers[0]
for num in numbers:
  if num>maximum:
    maximum=num
  if num<minimum:
    minimum=num
print("List: ",numbers)
print("Max",maximum)
print("Min",minimum)

Enter number of elements: 5
Enter number: 45
Enter number: 22
Enter number: 89
Enter number: 10
Enter number: 66
List:  [45, 22, 89, 10, 66]
Max 89
Min 10

In [6]:
#Count Products Above a Price Threshold
n=int(input("Enter number of products: "))
prices=[]
for i in range(n):
  price=int(input("Enter product price: "))
  prices.append(price)
count=0
for price in prices:
  if price>1000:
    count += 1
print("Products above 1000: ",count)

Enter number of products: 5
Enter product price: 450
Enter product price: 1200
Enter product price: 899
Enter product price: 1500
Enter product price: 300
Products above 1000:  2

In [13]:
#Calculate Attendance Percentage

n=int(input("Enter number of days:"))
attendance=[]
for i in range(n):
  status=input("Enter attendance (P/A) ").upper()
  attendance.append(status)
present_count=0
for status in attendance:
  if status=='P':
    present_count +=1
percentage=(present_count / n)*100
print("Attendance Percentage:",percentage)

Enter number of days:5
Enter attendance (P/A) P
Enter attendance (P/A) P
Enter attendance (P/A) A
Enter attendance (P/A) P
Enter attendance (P/A) P
Attendance Percentage: 80.0

In [8]:
#Remove Duplicate Phone Numbers
n=int(input("Enter number of phone numbers"))
phone_numbers=[]
for i in range(n):
  number=int(input("Enter phone number: "))
  phone_numbers.append(number)
unique_numbers=set(phone_numbers)
print("Unique Phone numbers: ",unique_numbers)

Enter number of phone numbers3
Enter phone number: 9876543210
Enter phone number: 9123456789
Enter phone number: 9876543210
Unique Phone numbers:  {9876543210, 9123456789}

In [9]:
#Count Character Frequency
text=input("Enter a string: ")
char_count={}
for ch in text:
  if ch in char_count:
    char_count[ch]+=1
  else:
    char_count[ch]=1
print(char_count)

Enter a string: pythonpp
{'p': 3, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [10]:
#Convert List to tuple
n=int(input("Enter number of elements: "))
numbers=[]
for i in range(n):
  num=int(input("Enter element:"))
  numbers.append(num)
numbers_tuples=tuple(numbers)
print("Tuple: ",numbers_tuples)

Enter number of elements: 3
Enter element:10
Enter element:20
Enter element:30
Tuple:  (10, 20, 30)

In [11]:
#Check if a key exists in a Dictionary
n=int(input("Enter number of employees: "))
employees={ }
for i in range(n):
  name=input("Enter employee name: ")
  salary=float(input("Enter salary: "))
  employees[name]=salary
key_to_check=input("Enter employee name to check: ")
if key_to_check in employees:
  print("Employee exists")
else:
  print("Employee does not exists")

Enter number of employees: 3
Enter employee name: Ravi
Enter salary: 75000
Enter employee name: Anita
Enter salary: 68000
Enter employee name: Kiran
Enter salary: 72000
Enter employee name to check: Ravi
Employee exists

In [12]:
#Calculate Average Marks
n=int(input("Enter marks for subject:"))
marks=[]
for i in range(n):
  mark=float(input("Enter marks for subject {}:".format(i+1)))
  marks.append(mark)
average=sum(marks)/n
print("Average Marks:",average)

Enter marks for subject:4
Enter marks for subject 1:80
Enter marks for subject 2:70
Enter marks for subject 3:65
Enter marks for subject 4:75
Average Marks: 72.5